.padding {
  /* padding-top: max(min(1vw, 10px), 0px); */
  margin-bottom: 10px;

  @media (min-width: 500px) {
    padding: 10px;
  }
  @media (min-width: 700px) {
    padding: 20px;
    margin-bottom: 20px;
  }
  animation: fadeIn2 0.8s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.customPadding {
  padding-top: max(min(2vw, 30px), 0px);
}

.cont {
  display: flex;
  padding-bottom: 30px;
  @media (max-width: 500px) {
    margin-left: -5px;
  }

  @media (min-width: 500px) {
    margin-left: 0px;
  }
  animation: fadeIn 0.8s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
}
.img {
  height: max(min(12vw, 130px), 55px);
  border-radius: 50%;
}

.fullImg {
  @media (max-width: 500px) {
    margin-top: 15px;
  }

  @media (min-width: 500px) {
    margin-top: 40px;
  }

  border-radius: var(--roundedSmall);
  background-color: var(--white);
  animation: fadeIn2 0.8s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.title {
  width: 100%;
  font-weight: 700;

  @media (max-width: 500px) {
    font-size: var(--S);
  }

  @media (min-width: 500px) {
    font-size: var(--ML);
  }
}
.name {
  width: 100%;
  font-weight: 700;
  font-size: var(--M);
}

.desc {
  font-size: var(--SX);
  @media (max-width: 500px) {
    font-size: var(--EEXS);
  }

  @media (min-width: 500px) {
    font-size: var(--SX);
  }
  animation: fadeIn2 0.8s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.paddingTop {
  padding-top: 10px;
}

.list {
  list-style-type: disc;
  @media (max-width: 500px) {
    font-size: var(--EEXS);
    margin: 7px 20px;
  }

  @media (min-width: 500px) {
    font-size: var(--SX);
    margin: 15px 20px;
  }
  animation: fadeIn2 0.8s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
    padding-top: 30px;
  }

  to {
    opacity: 100%;
    padding-top: 0px;
  }
}

@keyframes fadeIn2 {
  from {
    opacity: 0%;
    transform: translateY(30px);
  }

  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}
