.nosotros {
  padding-top: max(min(2vw, 30px), 0px);
}
.cont {
  display: flex;
  padding-bottom: 30px;
  @media (max-width: 500px) {
    margin-left: -5px;
  }

  @media (min-width: 500px) {
    margin-left: 0px;
  }
  animation: fadeIn 1s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
}
.img {
  height: max(min(12vw, 130px), 55px);
}

.name {
  width: 100%;
  font-weight: 700;
  font-size: var(--S);
}

.desc {
  font-size: var(--SX);
  @media (max-width: 500px) {
    font-size: var(--EEXS);
  }

  @media (min-width: 500px) {
    font-size: var(--SX);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0%;
    padding-top: 30px;
  }

  to {
    opacity: 100%;
    padding-top: 0px;
  }
}
