.quizCont {
  width: 100%;
  padding: max(min(3vw, 50px), 10px) max(min(3vw, 150px), 30px);
  background-color: var(--main);
  border-radius: var(--roundedSmall);
}

.score {
  margin: 0px auto;
  width: fit-content;
}

.quizContCont {
  margin: 0px auto;
  padding-left: 10px;
  width: fit-content;
  @media (max-width: 500px) {
    min-width: 100%;
  }

  @media (min-width: 500px) {
    min-width: 70%;
  }
}

.question {
  color: var(--accent2);
  display: flex;
  flex-wrap: wrap;
  padding: max(min(0.5vw, 10px), 5px) 0px;
}

.questionTitle {
  color: var(--accent2);
  font-weight: bold;
  font-size: var(--ML);
}

.questionText {
  color: var(--accent2);
  padding-left: 10px;
  font-size: var(--SX);
}
.button {
  color: var(--accent2);
  background-color: var(--accent);
  padding: 10px 20px;
  margin: 15px 10px 10px 0px;
  font-size: var(--S);
  width: calc(50% - 10px);
  border-radius: var(--roundedSmall);
  transition: 0.4s;
}

.button:hover {
  color: var(--accent3);
  transition: 0.4s;
}

.counter {
  color: var(--accent2);
  padding: max(min(0.5vw, 20px), 8px) 0px max(min(0.5vw, 10px), 5px);
  font-size: var(--SX);
}
