/* Global */
.container {
  position: relative;
  min-width: 320px;
  max-width: 3400px;
  width: 100%;
}

.contContainer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  min-height: 100%;
  overflow-x: hidden;
}

.middle {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 100%;
  display: flex;
  justify-content: center;
  animation: fadeIn 1s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.hidden {
  display: none;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0%;
    padding-top: 30px;
  }

  to {
    opacity: 100%;
    padding-top: 0px;
  }
}

/* Contact */
.contactButtCont {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.contactButton {
  width: fit-content;
  color: var(--white);
  background-color: var(--black);
  font-weight: 600;
  padding: max(min(2vw, 30px), 10px) max(min(1.5vw, 20px), 12px);
  border-radius: 15px;
  font-size: var(--S);
  cursor: pointer;
}

/* NavBar Buttons */

.navBarButton {
  cursor: pointer;
  @media (max-width: 500px) {
    font-size: var(--EEXS);
  }

  @media (min-width: 500px) {
    font-size: var(--SX);
  }
}

.navBarButtonSelected {
  cursor: pointer;

  @media (max-width: 500px) {
    font-size: var(--EEXS);
  }

  @media (min-width: 500px) {
    font-size: var(--SX);
  }
  font-weight: 700;
}

.navBarContact {
  cursor: pointer;
  background-color: var(--main);
  border-radius: var(--roundedSmall);
  padding: var(--roundedSmall);

  @media (max-width: 500px) {
    font-size: var(--EEXS);
  }

  @media (min-width: 500px) {
    font-size: var(--SX);
  }
}

/* Slider */
.mainCont {
  width: 100%;
  max-width: var(--limit);
  display: flex;
  padding: 20px 20px 0px 20px;
  margin: auto;
}

.slider {
  width: 100%;
  height: 400px;
  margin-bottom: 10px;
}

.slide {
  height: 100%;
  width: 100%;
  border-radius: var(--roundedSmall);
  background-color: rgb(130, 130, 130);
}

/* Content */
.left {
  width: fit-content;
}

.leftButton {
  cursor: pointer;
  margin: 0px 0px 10px 0px;
  border-radius: var(--roundedSmall);

  background-color: var(--main);

  @media (max-width: 500px) {
    padding: 8px;
    font-size: var(--EXXS);
  }

  @media (min-width: 500px) {
    padding: 11px;
    font-size: var(--XS);
  }

  @media (min-width: 700px) {
    padding: 17px;
    font-size: var(--SX);
  }

  @media (min-width: 1000px) {
    padding: 25px;
    font-size: var(--SX);
  }
}

.leftButtonSelected {
  cursor: pointer;
  margin: 0px 0px 10px 0px;
  border-radius: var(--roundedSmall);

  background-color: var(--accent);

  @media (max-width: 500px) {
    padding: 8px;
    font-size: var(--EXXS);
  }

  @media (min-width: 500px) {
    padding: 11px;
    font-size: var(--XS);
  }

  @media (min-width: 700px) {
    padding: 17px;
    font-size: var(--SX);
  }
  @media (min-width: 1000px) {
    padding: 25px;
    font-size: var(--SX);
  }
}

.right {
  margin-left: 20px;
  width: 100%;
}

.rightContent {
  height: calc(100% - 10px);
  background-color: var(--main);
  padding: 15px 20px;
  border-radius: var(--roundedSmall);

  @media (max-width: 500px) {
    font-size: var(--EXXS);
  }

  @media (min-width: 500px) {
    font-size: var(--XS);
  }

  @media (min-width: 700px) {
    font-size: var(--SX);
  }
}
